
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 8px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #FFF;
    /* box-shadow: inset 1px 1px 1px 1px rgb(0 0 0 / 50%);  */
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 50%;
    background-image: linear-gradient(green, lightgreen);
}

.green-circle{
    background: green;
    border-radius: 50%;
}

.date p{
    font-size: 12px;
}

.bg-light-shadow{
    background: lightgray;
    border-radius: 7px;
    text-align: center;
    margin-right: 7px;
    font-size: 13px;
    /* font-weight: bold; */
}

.selected-date{
    background: lightgreen;
    color: green;
}

.btn-shadow button{
    box-shadow: 0px 17px 35px -10px rgba(0,0,0,0.75);
}

.user-review p{
    color: green;
}